.menu {
  width: 100%;
  max-height: 5vh;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  margin-bottom: 4rem;
}

.menu__link {
  flex: 1;
  text-align: center;
  color: white;
  transition: all .5s;
  display: inline-block;
  border-bottom: .2rem solid transparent;
  text-transform: uppercase;
  letter-spacing: .5rem;
}

.menu__link:hover {
    border-color: white;
}

