.messages {
    display: block;
    padding: 1rem;
    background-color: white;
    color: black;
    font-size: 2rem;
    position: fixed;
    bottom: 0; left: 0;
    width: 100vw;
    z-index: 0;
}

.messages__title {
    margin: 1rem 0;
}

.messages__list {
    list-style-type: none; 
}

.message {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

.messages__clear {
    background-color: black;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 5px;
    transition: all .5s;
}

.messages__clear:hover {
    font-size: 1.2rem;
    cursor: pointer;
}

.message > * {
    flex: 1;
}

.message__id {
    max-width: 10vw;
    background-color: black;
    color: white;
    display: inline-block;
    text-align: center;
}

.message__text {
    background-color: turquoise;
    color: white;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}
