
    <mat-icon mat-list-icon>folder</mat-icon>

<mat-list>
  <mat-list-item *ngFor="let hero of heroes" class="listed">
    <img *ngIf="hero.img" class="listed__img" src="{{hero.img}}" alt="hero.name">
    <h4 mat-line>{{hero.name}}</h4>
    <p mat-line> {{hero.id}} </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>Notes</h3>
  <mat-list-item *ngFor="let note of notes">
    <mat-icon mat-list-icon>note</mat-icon>
    <h4 mat-line>{{note.name}}</h4>
    <p mat-line> {{note.updated | date}} </p>
  </mat-list-item>
</mat-list>

<!-- <app-hero-detail [hero]="selectedHero" (deselect)="onDeselect($event)"></app-hero-detail> -->
